@charset "UTF-8";
body {
  background: url('${pageContext.request.contextPath}/images/peakpx.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.filter-yellow{
    filter: invert(69%) sepia(69%) saturate(828%) hue-rotate(352deg) brightness(105%) contrast(104%);
}

.rotate-90{
	transform: rotate(90deg);
}

.rotate-270{
	transform: rotate(270deg);
}